PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
IODIDE_SERVER_DEBUG=True
SECRET_KEY=59114b6a-2858-4caf-8878-482a24ee9542
DJANGO_LOG_LEVEL=DEBUG
DJANGO_LOG_FORMAT=json
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GA_TRACKING_ID=
EVAL_FRAME_ORIGIN=http://localhost:8000/
EDITOR_ORIGIN=http://localhost:8000/
APP_VERSION_STRING=dev
