version: '3.4'

x-app:
  &app
  build:
    context: .
  env_file: .env
  volumes:
    - .:/app
  depends_on:
    - db
    - redis
  command: dev


services:
  server:
    <<: *app
    ports:
      - "8000:8000"

  worker:
    <<: *app
    command: worker

  db:
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  redis:
    image: redis:5.0.9-alpine
