[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
social-auth-app-django = "*"
django-environ = "*"
"psycopg2-binary" = "*"
furl = "*"
django-rest-framework = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.6"

[dev-packages]
"flake8" = "*"
pytest-django = "*"
freezegun = "*"
