{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/iodide.dev.css">
<base target="_blank" rel="noopener noreferrer">
{% endblock %}
{% block content %}
<script id="jsmd" type="text/jsmd">{{ jsmd|safe }}</script>
<iframe
  id="eval-frame"
  src="{{ iframe_src|safe }}"
  sandbox="allow-scripts allow-same-origin allow-popups"
  allowfullscreen="true"
  allowvr="yes"
  allow="microphone"
></iframe>
{{ user_info|json_script:"userData" }}
{{ notebook_info|json_script:"notebookInfo" }}
<script src="/iodide.dev.js"></script>
{% endblock %}
