/*  cell and cell container styles*/

div.cell-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: #f4f4f4 1px solid;
  width: calc(100%);
  /* put the .cell-menu-container and .cell-row-container in a row */
  display: flex;
  flex-direction: row; 
}

/* These may need to be integrated into the presentation mode style sheets
but I don't see why we would have to do this immediately.
*/

div#cells.presentation div.cell-container {
  margin: 0 auto; 
  outline: none;
  padding: 0px;
}

div#cells.presentation .collapse-button {
  display: none;
  height: 0px
}

div#cells.presentation div.cell-row.HIDDEN {
  display: none;
}

div#cells.presentation div.cell-menu-container {
  display: none;
  height: 0px;
  width: 0px !important;
}

div#cells.presentation div.cell-row.input {
  padding:0px;
}

.cell-menu-container {
    width: 64px;
    font-size:12px;
}

.cell-type-label {
  text-align: right;
  color: hsl(275, 12%, 75%);
  cursor: pointer;
  padding: 0px 6px 0px 0px;
  height: 18px;
  border: 1px solid rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cell-type-label:hover {
  background: #fbfbfb;
  border: 1px solid #ddd;
  color: hsl(275, 4%, 40%);
}

.cell-status-indicators {
    text-align: right;
    padding-right: 6px;
    color: hsla(275, 4%, 51%, 1);
}

.warning-pill {
    background-color: hsla(53, 80%, 86%, 1);
    color: hsl(53, 35%, 48%);
    height: 18px;
    padding: 0 6px;
    border: 1px solid hsla(53, 94%, 83%, 1);
    border-radius: 3px;
    display: inline-block;
}

.cell-status-icons {
    text-align: right;
    padding: 0px 6px 0px 0px;
}

.cell-status-icons svg {
    fill: hsl(275, 12%, 75%);
}


div.cell-row-container {
  width: calc(100% - 64px); /* 100% minus cell-menu-contatiner width*/
}

div.cell-row {
  display: flex;
  padding: 1px;
}

div#cells.editor div.cell-container.markdown div.cell-row.output {
  overflow-x:hidden;
}

div.collapse-button {
  margin-right: 5px;
  margin-left: 3px;
  width: 18px;
  height: 100%;
}

div.collapse-button:hover {
  background: #fbfbfb;
  outline: 1px solid #ddd;
  cursor: pointer;
}

div.HIDDEN div.collapse-button-tooltip-wrapper {
    width: calc(100% - 3px); /* 100% minus a .collapse-button width margin-right*/

}

div.HIDDEN div.collapse-button {
    width: calc(100%);
    /* when collapsed, make the button visible*/
  background: #fdfdfd;
  outline: 1px solid #ddd;
  cursor: pointer;
}

div.main-component {
    width: calc(100% - 24px); /* 100% minus .collapse-button width (including margins) */
}

div.input div.main-component {
  outline: 1px solid #f1f1f1;
}

div.markdown div.input div.main-component {
  outline: none;
}



div.HIDDEN div.main-component {
  height: 18px;
  flex-shrink: 1;
  flex-basis: 0px;
  flex-grow: 0;
  overflow: hidden;
  outline: none;
}


div.selected-cell.editing-cell div.input div.main-component {
  outline: 1px solid #bbb;
}
div.selected-cell.editing-cell {
  outline: 1px solid #bbb;
}

div.selected-cell {
  outline: 2px solid #ccc;
}

div.CodeMirror {
  background: #f9f9f9;
}

div.CodeMirror-gutters {
  background: #fff;
}

div.VISIBLE div.main-component div.CodeMirror {
  height: auto
}

div.SCROLL div.main-component div.CodeMirror {
  height: auto;
}

div.SCROLL div.main-component div.CodeMirror div.CodeMirror-scroll {
  max-height: 300px;
}

div.SCROLL.output .main-component {
  max-height: 300px;
  outline: 1px solid #ddd;
    overflow-y: scroll;
}


/* FIX ME i think this style is never used, double check it*/
div.hidden-cell {
  display: none;
}

.cm-s-eclipse .CodeMirror-matchingbracket {
  outline: 1px dotted #000;
}


.dependency-row {
  display: flex;
  align-items: center;
}

.dependency-row a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.dependency-row a:hover,
.dependency-row a:focus {
  color: #23527c;
  text-decoration: underline;
}