/*  cell and cell container styles*/

div.cell-container {
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*outline: #f4f4f4 1px solid;*/
}

.cell-header {
  display: flex;
}

button.fold-cell-button {
  margin:0;
  padding:0;
  color: gray;
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  width: 20px;
  height: 20px;
  padding-top:2px;
  transition:50ms;
}

button.fold-cell-button:hover {
  color: black;
  background: #fbfbfb;
  border: 1px solid #ddd;
}

.cell-menu-container {
    font-size:12px;
    margin-bottom:4px;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.cell-type-label {
  width: 76px;
  text-align: left;
  color: hsl(275, 12%, 75%);
  cursor: pointer;
  height: 18px;
  border: 1px solid rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cell-type-label:hover {
  background: #fbfbfb;
  border: 1px solid #ddd;
  color: hsl(275, 4%, 40%);
}

.cell-status-indicators {
    text-align: right;
    padding-right: 6px;
    color: hsla(275, 4%, 51%, 1);
}

.warning-pill {
    background-color: hsla(53, 80%, 86%, 1);
    color: hsl(53, 35%, 48%);
    height: 18px;
    padding: 0 6px;
    border: 1px solid hsla(53, 94%, 83%, 1);
    border-radius: 3px;
    display: inline-block;
}

div.main-component {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

div.CodeMirror {
  height: auto;
  background: #f9f9f9;
}

div.CodeMirror-gutters {
  background: #fff;
}

/*div.HIDDEN div.main-component {
  height: 18px;
  flex-shrink: 1;
  flex-basis: 0px;
  flex-grow: 0;
  overflow: hidden;
  outline: none;
}
*/
div.main-component.VISIBLE div.CodeMirror,
div.main-component.SCROLL div.CodeMirror {
  height: auto;
}

div.main-component.SCROLL div.CodeMirror div.CodeMirror-scroll {
  max-height: 300px;
}

.cm-s-eclipse .CodeMirror-matchingbracket {
  outline: 1px dotted #000;
}

.cm-fetch-type {
  font-weight: bold;
}

.cm-fetch-variable-declaration {
  color: blue;
  font-weight: bold;
}

.cm-fetch-path {
  font-style: italic;
}

.cm-jsmd-delim-line {
  border-top: 1px solid #e6e6e6;
}
