div.react-codemirror2 {
  height: 100%;
}

div.CodeMirror {
  height: 100%;
  background: #f9f9f9;
}

div.CodeMirror-gutters {
  background: #fff;
}

div.main-component.SCROLL div.CodeMirror div.CodeMirror-scroll {
  max-height: auto;
}

.cm-s-eclipse .CodeMirror-matchingbracket {
  outline: 1px dotted #000;
}

.cm-jsmd-delim-line {
  border-top: 1px solid #e6e6e6;
}


.cm-fetch-type {
  font-weight: bold;
}

.cm-fetch-variable-declaration {
  color: blue;
  font-weight: bold;
}

.cm-fetch-path {
  font-style: italic;
}