.lm_content {
     background: unset;
     border: unset;
}

.fixed-position-container {
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius:4px;
  }
.lm_tab {
border: 1px solid rgba(0,0,0,.15) !important;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.lm_goldenlayout {
    background: unset;
}

/*.lm_items {
    border: 1px solid #cbcbcb;
}*/
