html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

div#page {
  height: 100%;
  overflow: hidden;
}

div#panes-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* the following prevents #panes-container from having a computed
  height greater than the available space, which is needed for correct
  overflow of child elts*/
  overflow: hidden;
}

div#editor-react-root{
  /* this prevents the resizer from getting too wide and covering the eval frame*/
  max-width: calc(100% - 300px);
}

div#cells-resizer {
  max-width: 100%; /* this keeps #cells at full width of #editor-react-root */
  min-height: 100%;
  max-height: 100%;
}

div#cells {
  flex-grow: 1; /* grow cells to fill the #cell-resizer flex column */
  box-sizing: border-box;
  /*height: 100%;*/
  overflow-y: auto;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 35px; /* left/right asymmetry bc of the scroll bar*/
  padding-bottom: 70px;
  border-right: 2px solid lightgray;
}

iframe#eval-frame {
  border: none;
  flex-grow: 1;
  min-width: 300px;
  min-height: 100%;
}
