html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow: hidden;
}

div#page {
  height: 100%;
  overflow: hidden;
}

div#notebook-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#notebook-container.presentation-mode {
  display: block;
}

div#headerbar {
  /* 	flex: 0 0 150px; */
  padding-left: 10px;
  padding-right: 10px;
}

div#cells {
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;

  /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; */
}

h1.overlay-title {
  padding-left: 20px;
  font-size: 20px
}

body p {
  margin: 20px 0;
  font-size: 1.0625rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/************************************************/
/*  cell and cell container styles*/

div.cell-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: #f4f4f4 1px solid;
  width: calc(100%);
}

div#cells.presentation {
}

div#cells.presentation div.cell-container {
  outline: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div#cells.presentation .collapse-button {
  visibility: hidden;
  height: 0px
}


div#cells.presentation div.cell-row.COLLAPSED {
  display: none;
}

div#cells.presentation div.status {
  display: none;
  height: 0px;
  width: 0px !important;
}

div.cell-row {
  display: flex;
  padding: 1px;
}

div.status {
  font-family: monospace;
  white-space: pre;
  flex-basis: 50px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: right;
  color: #aaa
}



div.collapse-button {
  margin-right: 3px;
  margin-left: 3px;
  flex-basis: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.6;
}

div.raw div.collapse-button:hover,
div.external div.collapse-button:hover,
div.javascript div.collapse-button:hover {
  background: #fbfbfb;
  outline: 1px solid #ddd;
  cursor: pointer;
}

div.main-component {
  flex-grow: 1;
  width: calc(100% - 80px);
}

div.input div.main-component {
  outline: 1px solid #f1f1f1;
}

div.markdown div.input div.main-component {
  outline: none;
}

div.COLLAPSED div.collapse-button {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  flex-grow: 1;
  outline: #ddd 1px solid;
  margin-right: 0px;
  margin-left: 24px;
}

div.COLLAPSED div.main-component {
  height: 18px;
  flex-shrink: 1;
  flex-basis: 0px;
  flex-grow: 0;
  overflow: hidden;
  outline: none;
}

div.COLLAPSED div.input div.main-component {
  outline: 1px solid #f1f1f1;
}

/*div.cell-row.SCROLLABLE div.main-component {
  overflow: auto;
}*/

div.cell-row.SCROLLABLE {
  overflow: auto;
}

div.cell-container.markdown div.status,
div.cell-container.raw div.status,
div.cell-container.dom div.status {
  visibility: hidden;
  height: 0px
}

div.left-of-cell {
  width: 50px;
}

div.cell {
  /* 	width:850px; */
}

div.selected-cell {
  outline: 1px solid #bbb;
}

div.selected-cell.edit-mode div.input div.main-component {
  outline: 1px solid #bbb;
}

div.selected-cell.command-mode {
  outline: 2px solid #ccc;
}

div.CodeMirror {
  background: #f9f9f9;
}

div.CodeMirror-gutters {
  background: #fff;
}

div.EXPANDED div.main-component div.CodeMirror {
  height: auto
}

div.SCROLLABLE div.main-component div.CodeMirror {
  height: auto;
}

div.SCROLLABLE div.main-component div.CodeMirror div.CodeMirror-scroll {
  max-height: 300px;
}

div.SCROLLABLE.output .main-component {
  max-height: 300px;
  outline: 1px solid #ddd;
}



span.display-cell-title {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  background: aliceblue;
  max-width: 200px;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 3px;
}

span.menu-item-title {
  font-style: italic;
  color: gray;
  font-weight: 300;
  padding-left: 8px;
}

div.hidden-cell {
  display: none;
}

span.notebook-label {
  background-color: gray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

div.dom-cell {
}

.cm-s-eclipse .CodeMirror-matchingbracket {
  outline: 1px dotted #000;
}

div.dom-cell-error {
  color: gray;
  margin-top: 5px;
}

.right-spacer {
  margin-right: 10px;
}

.dom-inputs {
  padding: 3px;
}

/************************************************/
/* cell output styles */

.data-set-info {
  color: #888;
  font-style: italic;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/************************************************/
/* header bar styles */

div.editor-mode-controls {
  width: 300px; outline: 1px solid green
}

div.view-controls {
  width: 400px;
  display:flex;
  align-items:center;
  outline:1px solid red;
}

div.title-field {
  width: calc( 100% - 400px - 300px );
}

div.title-field-contents {
  display: flex;
  width: 100%
}

div.display-title {
  color: white;
  width: 100%;
  text-align: center;
}

div.display-title span {
  padding-left: 15px;
  padding-right: 15px;
}

div.display-title span:after {
  content: '▼';
  color: red;
  padding-left: 5px
}

input.page-title {
  font-family: 'Open Sans';
  font-size: 14px;
  border: none;
  outline: none;
  width: calc(100% - 20px);
  margin: auto;
  text-align: center;
  color: white;
  background-color: black
}

input.page-title:focus {
  font-size: 25px
}

/* div.unselected-title-field:before {
	content: 'Title: ';
	font-weight:900;
	color:red !important;
	display: relative;
	margin-left:40px;
	color:white;
	transition: 100ms;
} */

input.page-title.unrendered-title {
  color: lightgray;
}

h1.page-title span {
  font-weight: 300;
  font-size: 16px;
}

ul.load-notebook-menu {
  min-width: 525px;
  background-color: white;
}

ul.load-notebook-menu li {
  height: 30px;
}

.load-notebook-menu span.menu-notebook-name {
  width: 300px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: top;
  padding-right: 15px;
  max-height: 30px;
  font-size: 14px;
}

.load-notebook-menu span.menu-last-saved {
  width: 200px;
  font-size: 14px;
  color: gray;
  font-weight: 300;
  overflow-x: hidden;
  vertical-align: top;
}

div.notebook-actions {
  display: flex;
  justify-content: space-between;
  padding: 3px
}

div.cell-controls {
  display: flex;
  padding: 3px;
  background-color: #fff;
  justify-content: space-between
}

div.left-cell-menu {
  display: flex
}

div.page-mode {
  margin-left: 10px;
  color: #999;
  font-size: 12px;
  padding: 2px;
  width: 150px;
  display: flex
}

div.last-saved {
  padding: 2px;
  display: flex;
  color: #999;
  font-style: italic;
  font-size: 12px
}

/************************************************/
/* side pane styles */

div.history-cell {
}

div.history-cells {
  padding-left: 20px;
  padding-right: 20px
}

div.history-cells .CodeMirror {
  height: auto;
}

div.history-content {
  outline: 1px solid lightgray;

}

div.history-date {
  padding-left: 33px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  color: gray;
}

div.no-history {
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
  margin-top: 60px;
  margin-left: 30px;
}

div.side-pane {
  z-index: 200;
  position: fixed;
  right: 0;
  top: 40px;
  border: 2px solid gray;
  border-right: none;
  width: 75%;
  overflow: scroll;
  height: 100%;
  background-color: rgba(255, 255, 255);
}

i.close-side-pane:hover {
  outline: 1px solid lightgray;
}

div.declared-variables {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/************************************************/
/* et cetera styles */
.katex-html {
  display: none;
}

/************************************************/
/* for Github-flavored Markdown */
table {
  display: block;
  border-spacing: 0;
  overflow: auto;
  width: 100%;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* span.cell-menu {
	width:292px !important
} */

.medium-menu {
  display: flex !important;
  justify-content: space-between;
  flex-flow: row wrap;
  max-height:32px !important; 
}

.primary-menu-item {
}

.secondary-menu-item {

  text-align:right;
  padding:0px !important;
  padding-left:16px !important;

}

.medium-menu div div {
  display: flex !important;
  float: none !important;
  justify-content: space-between;
  flex-flow: row wrap;
}

.medium-menu div div div:first-child {
  order: 1;
  width: 20px;
  justify-content: flex-end;
  font-size: 12px;

  display: block;
}

/* .medium-menu div div div:nth-child(2) {
  float: initial !important;
  width: 225px;
  overflow: hidden;
  order: 0;
} */

.large-menu {
  display: flex !important;
  justify-content: space-between;
  flex-flow: row wrap;

}

.large-menu div div {
  display: flex !important;
  float: none !important;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* .large-menu div div div:first-child {
  order: 1;
  width: 250px;
  justify-content: flex-end;
  font-size: 12px;
  display: block;
} */

/* .large-menu div div div:nth-child(2) {
  float: initial !important;
  width: 280px;
  text-overflow: ellipsis;
  order: 0;
} */

.main-bar {
  background-color: black
}

.menu-button {
  color: #fafafa
}

.menu-button:hover {
  outline: 1px solid #fafafa
}

.view-mode-toggle-from-presentation {
  position: fixed;
  right: 20px;
  top: 10px;
}

.presentation-header {
  margin-bottom: 20px;
  margin-top: 40px;
}

.presentation-title {
  text-align: center
}

.dependency-output {
  padding-top: 10px;
}

.dependency-container {
  margin-bottom: 6px;
}

.dependency-row {
  display: flex;
  align-items: center;
}

.dependency-row div {
}

.dependency-src {
	font-size:13px;
	margin: 3px 10px 3px 8px;

}

.dependency-src a {
	color: black;	
	font-weight:normal
}

.dependency-src a:hover {
	text-decoration: underline
}
.dependency-status-explanation {
  margin-left: 35px;
  font-size: 11px;
  color: red;
  margin-top: -5px;
}

.dependency-status-explanation:before {
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
